
body {
<<<<<<< HEAD
   color: blue;
=======
   color: pink;
>>>>>>> 236b9dcdc4ccfc4064d308aeb41cb0fb9298afe3
   background-color: black;
   font-family: 'Sacramento', cursive;
   font-size: 32px;
   margin-top: 5%;
   margin-left: 20%;
   margin-right: 20%;

}